<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>
<div class="container">
    <h1>REALIZAR PEDIDO</h1>
    <form th:action="@{/views/productos/pedido}" th:object="${pedidoForm}" method="post">
        <div th:each="producto, iterStat : ${productos}">
            <div class="form-group">
                <label th:for="${'producto' + iterStat.index}">Selecciona un producto:</label>
                <select th:id="${'producto' + iterStat.index}" th:name="productoIds" class="form-control" th:value="${producto.id}">
                    <option th:value="${producto.id}" th:text="${producto.producto}"></option>
                </select>
            </div>
            <div class="form-group">
                <label th:for="${'cantidad' + iterStat.index}">Cantidad:</label>
                <select th:id="${'cantidad' + iterStat.index}" th:name="cantidades" class="form-control">
                    <option th:each="i : ${#numbers.sequence(0, 10)}" th:value="${i}" th:text="${i}"></option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Realizar Pedido</button>
    </form>

    <div class="container" th:if="${pedidoRealizado}">
        <h2>Ticket de Pedido</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto, iterStat : ${productos}">
                <td th:text="${producto.producto}"></td>
                <td th:text="${cantidades[iterStat.index]}"></td>
                <td th:text="${#numbers.formatCurrency(producto.precio * cantidades[iterStat.index])}"></td>
            </tr>
            </tbody>
        </table>
        <p><strong>Total:</strong> <span th:text="${#numbers.formatCurrency(precioTotal)}"></span></p>
    </div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
</div>
<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>

